@charset "utf-8";

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
#todo_title {
    border: 1px solid black;
}